html {
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  background-color: #fafafa;
  color: #97969c;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: #2d314d;
}

h1 {
  font-size: 44px;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
}

h3 {
  margin: 20px 0;
}

h6 {
  margin: 30px 0 10px 0;
}

.background {
  background: url(../images/bg-intro-desktop.svg) no-repeat;
  background-position: 600px -250px;
  /* background-size: 75%; */
  height: 650px;
  z-index: -100;
}

.mockup {
  overflow: hidden;
  /* Esconde o conteúdo excedente */
  margin-top: -800px;
  margin-left: 55vw;
  margin-bottom: -144px;
  object-fit: cover;
  z-index: 1;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.btn-request {
  color: #fff;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  padding: 16px 32px;
  z-index: 11;
  box-sizing: border-box;
}

.nav {
  padding: 20px;
  background-color: #ffffff;
  z-index: 1000;
  position: relative;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  z-index: 11;
}

.nav__links a {
  margin: 0 15px;
  color: #97969c;
}

.header__text {
  max-width: 425px;
  margin-top: -470px;
  margin-left: 13%;
  position: absolute;
}

.header__text p {
  margin: 20px 0 40px 0;
}

.why {
  background-color: #f4f5f7;
  padding: 100px 0px;
}

.why p {
  max-width: 610px;
  margin-top: 40px;
}

.why__section {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.why__section__item {
  width: 240px;
  line-height: 21px;
}

.articles {
  margin: 100px 0px;
}

.articles__card {
  width: 260px;
  background-color: #fff;
  border-radius: 8px;
}

.article__section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.articles__card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.articles__card__text {
  padding: 10px 25px 25px 25px;
}

.articles__card p {
  margin-top: 15px;
  font-size: 12px;
}

.footer {
  background-color: #2d314d;
  padding: 80px 0 50px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__redes {
  display: flex;
  margin-top: 40px;
}

.footer__redes a {
  margin-right: 20px;
}

.footer__links {
  display: flex;
  color: #eaebfd;
}

.footer__links__column {
  display: flex;
  flex-direction: column;
}

.footer__links__column a {
  color: #eaebfd;
  margin: 20px 40px;
}

.footer__links__column li {
  margin-bottom: 15px;
}

.footer p {
  margin-top: 55px;
}

.footer img {
  margin-bottom: 40px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
  h1 {
    max-width: 40%;
  }
  .header__text p {
    max-width: 40%;
  }

  .why__section {    
    justify-content: space-around;    
    text-align: center;
}

.why__section__item {
   margin: 0 50px;
}
  .why__section__item:nth-child(3) {
    margin-top: 50px;
  }
  .why__section__item:last-child {
    margin-top: 50px;
  }
  
  .articles__card {
    margin: 0 30px;
  }

  .articles__card:nth-child(3) {
    margin-top: 50px;
}
  .articles__card:last-child {
    margin-top: 50px;
}

  .article__section {  
    justify-content: space-around;  
}
}